body {
    background: lightseagreen;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.buyFruit, .sellFruit {
  border: none;
  height: 70px;
  width: 70px;
  padding-top: 65px;
}

#apple {
  background: url(../images/apple.png) center no-repeat;
}

#orange {
  background: url(../images/orange.png) center no-repeat;
}
#banana {
  background: url(../images/banana.png) center no-repeat;
}
#grape {
  background: url(../images/grape.jpeg) center no-repeat;
}

.modal-header {
  color: #fff;
}

.red {
  background-color: #d9534f;
}

.yellow {
  background-color: #ec971f;
}

.green {
  background-color: green
}
